includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    bootstrapFiles:
        - vendor/autoload.php
